.gal-img{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
.remove_img{
  position: absolute;
  right: 10px;
  color: #fff;
  background-color: #BF2E1B;
  padding: 5px;
  cursor: pointer;
}