@-webkit-keyframes mymovenube1 {
  0% {right:-80%;}
  100% {right: 100%;}
}

@keyframes mymovenube1 {
  0% {right:-80%;}
  100% {right: 100%;}
}

@-webkit-keyframes mymovenube2 {
  0% {right:-80%;}
  100% {right: 100%;}
}

@keyframes mymovenube2 {
  0% {right:-80%;}
  100% {right: 100%;}
}

@-webkit-keyframes mymovenube3 {
  0% {left:-80%;}
  100% {left: 100%;}
}

@keyframes mymovenube3 {
  0% {left:-80%;}
  100% {left: 100%;}
}

@-webkit-keyframes mymovenube4 {
  0% {left:-80%;}
  100% {left: 100%;}
}

@keyframes mymovenube4 {
  0% {left:-80%;}
  100% {left: 100%;}
}

@-webkit-keyframes mymovenube5 {
  0% {right:-80%;}
  100% {right: 100%;}
}

@keyframes mymovenube5 {
  0% {right:-80%;}
  100% {right: 100%;}
}

@-webkit-keyframes logoflotante {
  0% {top: 50%;}
  100% {top: 51%;}
}

@keyframes logoflotante {
  0% {top: 50%;}
  100% {top: 51%;}
}

@keyframes rotateicon {
  0% {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }
  100% {
    top: 105%;
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateicon {
  0% {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }
  100% {
    top: 105%;
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
  }
}

@keyframes iconflotantetriangulo1 {
  0% {
    top: -10%;
    -ms-transform: rotate(0deg) ;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    top: 105%;
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
